{% extends "base.twig" %}

{% block content %}
	{% if photos|length > 0 %}
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<div class="container">
				{% for photo in photos %}
					<div class="row">
						<div class="span1">
							<img src="/photoview/{{ photo.value.id }}{{ photo.value.extension }}" alt="{{ photo.value.title }}" />
						</div>
						<div class="span2">
							<p>{{ photo.value.title }}</p>
						</div>
						<div class="span9">
							<p>{{ photo.value.description }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<section class="edit-mode notebook-style section">
				<div class="bg clearfix">
					<ul>
						{% for photo in photos %}
							<li>
								<div class="image-wrapper">
									<img src="/photoview/{{ photo.value.id }}{{ photo.value.extension }}" alt="{{ photo.value.title }}" />
								</div>
								<div class="caption">
									<h4 class="title" title="{{ photo.value.title }}">{{ photo.value.title }}</h4>
									<div class="scroll-pane">
										<p class="description">{{ photo.value.description }}</p>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</section>
		{% endif %}
		<section class="edit-mode gallery-style section">
			<div class="gridster bg clearfix">
				<ul class="container">
					{% set col = 1 %}
					{% set row = 1 %}
					{% for photo in photos %}
						<li class="gs_w thumbnail" data-sizex="1" data-sizey="1" data-col="{{ col }}" data-row="{{ row }}">
							<!-- <a href="/photo/{{ photo.value.id }}"> -->
							<img src="/photoview/{{ photo.value.id }}{{ photo.value.extension }}" alt="{{ photo.value.title }}" />
							<!-- </a> -->
							<div class="caption">
								<p>{{ photo.value.title }}</p>
							</div>
						</li>
						{% if col < 7 %}
							{% set col = col + 1 %}
						{% else %}
							{% set col = 1 %}
							{% set row = row + 1 %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</section>
	{% endif %}
{% endblock %}