{% extends "base.twig" %}

{% block content %}
	{% if photos|length > 0 %}
		<section class="notebook-style section bg">
			<div class="screen">
				<div class="sections">
					<ul class="clearfix">
						{% for photo in photos %}
						<li>
							<article>
								<div class="media clearfix">
									<a href="/photoview/{{ photo.value.id }}{{ photo.value.extension }}" class="image pull-left">
										<img src="/photoview/{{ photo.value.id }}{{ photo.value.extension }}" alt="{{ photo.value.title }}" />
									</a>
									<small class="badge badge-inverse photo-index">{{ loop.index }}/{{ photos|length }}</small>
									{% if photo.value.description %}
										<div class="media-body">
											<h4 class="title" title="{{ photo.value.title }}">{{ photo.value.title }}</h4>
											<div class="scroll-pane">
												<p class="description">{{ photo.value.description }}</p>
											</div>
										</div>
									{% endif %}
								</div>
								<div class="toolbar-top">
									<p class="pull-left">
										<a href="#"><i class="icon-remove icon-white"></i></a>
									</p>
								</div>
								<div class="toolbar-bottom">
									<p class="pull-left">
										<a class="btn btn-mini btn-primary" href="#"><i class="icon-wrench icon-white"></i> Quick edit</a>
										<!--
										<a class="btn btn-mini btn-primary" href="#">Save</a>
										<a class="btn btn-mini" href="#">Cancel</a>
										-->
									</p>
								</div>
							</article>
						</li>
						{% endfor %}
					</ul>
				</div>
				<a class="btn prev" href="#"><i class="icon-chevron-left"></i></a>
				<a class="btn next" href="#"><i class="icon-chevron-right"></i></a>
			</div>
		</section>
	{% endif %}
{% endblock %}